<div class="row">
    <div class="col-md-2 col-lg-2 pull right">
        <br/>
        <!-- <div class="col-md-6 col-lg-6">
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" ng-model="search.queryNote" placeholder="{{'Rechercher par nom, prénom, email'|translate}}"/>
            </div>
        </div> -->
        <div class="btn-group">
            <a class="btn btn-info btn-sm" ng-click="addNote()"><i class="fa fa-plus-circle"></i> {{'Add note'|translate}}</a>
        </div>
    </div>
    <div class="col-md-10 col-lg-10">
        <table class="table table-striped table-hover noteList">
            <thead>
            <tr>
                <th>
                    <a ng-click="search.sortBy='title'; search.orderAsc = !search.orderAsc">{{'Title'|translate}}
                        <span ng-show="search.sortBy == 'title'">
                            <span ng-show="search.orderAsc">^</span>
                            <span ng-show="!search.orderAsc">v</span>
                        </span>
                    </a>
                </th>
                <th>
                    <a ng-click="search.sortBy='lastName'; search.orderAsc = !search.orderAsc">{{'Tags'|translate}}
                        <span ng-show="search.sortBy == 'lastName'">
                            <span ng-show="search.orderAsc">^</span>
                            <span ng-show="!search.orderAsc">v</span>
                        </span>
                    </a>
                </th>
                <th>
                    <a ng-click="search.sortBy='email'; search.orderAsc = !search.orderAsc">{{'Rating'|translate}}
                        <span ng-show="search.sortBy == 'email'">
                            <span ng-show="search.orderAsc">^</span>
                            <span ng-show="!search.orderAsc">v</span>
                        </span>
                    </a>
                </th>
                <th>
                    <a ng-click="search.sortBy='phone'; search.orderAsc = !search.orderAsc">{{'Content'|translate}}
                        <span ng-show="search.sortBy == 'phone'">
                            <span ng-show="search.orderAsc">^</span>
                            <span ng-show="!search.orderAsc">v</span>
                        </span>
                    </a>
                </th>
                <th>{{'Actions'|translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="form-group input-group">
                        <input type="text" class="form-control" ng-model="search.pattern.title" placeholder="{{'Title'|translate}}"/>
                    </div>
                </td>
                <td>
                    <div class="form-group input-group">
                        <input type="text" class="form-control" ng-model="search.pattern.tags" placeholder="{{'Tags'|translate}}"/>
                    </div>
                </td>
                <td>
                    <div class="form-group input-group">
                        <input type="text" class="form-control" ng-model="search.pattern.rating" placeholder="{{'Rating'|translate}}"/>
                    </div>
                </td>
                <td>
                    <div class="form-group input-group">
                        <input type="text" class="form-control" ng-model="search.pattern.content" placeholder="{{'Content'|translate}}"/>
                    </div>
                </td>
                <td class="text-center">
                    <select class="form-control" ng-model="search.pattern.active">
                        <option value="" selected="selected"></option>
                        <option value="true" selected="selected">{{'Active'|translate}}</option>
                        <option value="false" selected="selected">{{'Inactive'|translate}}</option>
                    </select>
                </td>
                <td class="btn-group btn-group-xs">
                </td>
            </tr>
            <tr ng-repeat="note in notes track by note._id">
                <td class="text">{{note.title}}</td>
                <td class="text">{{note.tags}}</td>
                <td class="text">{{note.rating}}</td>
                <td class="text">{{note.content}}</td>
                <!-- <td class="text-center">
                    <span class="label label-success" ng-if="note.active">{{'Active'|translate}}</span>
                    <span class="label label-default" ng-if="!note.active">{{'Inactive'|translate}}</span>
                </td> -->
                <td class="btn-group btn-group-xs">
                    <a class="btn btn-primary" ng-click="showNote(note._id)"><i class="fa fa-eye"></i></a>
                    <a class="btn btn-warning" ng-click="editNote(note._id)"><i class="fa fa-pencil-square-o"></i></a>
                    <a class="btn btn-danger" ng-click="deleteNote(note._id)"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="text-center">
            <pagination total-items="pagination.totalItems"
                        items-per-page="pagination.itemsPerPage"
                        ng-model="pagination.currentPage"
                        max-size="pagination.maxSize"
                        boundary-links="true" class="pagination-sm" rotate="false">
            </pagination>
        </div>
	</div>
</div>