<div class="modal-header">
    <div class="row vertical-align">
        <div class="col-lg-6 col-md-6 col-xs-6">
            <h3 class="modal-title"><i class="fa fa-pencil fa-fw"></i> {{'Edit note'|translate}} : {{::note.email}}</h3>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6">
            <div class="input-group pull-right">
                <div toggle-switch html="true" class="isSwitch switch-primary"
                     knob-label="{{'Active'|translate}}" on-label="{{'Yes'|translate}}" off-label="{{'No'|translate}}"
                     model = "note.active">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-body">
    <fieldset>
        <div class="panel panel-default">
            <div class="panel-heading">{{'Note'|translate}}</div>
            <div class="panel-body normal">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <fieldset>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-adn"></i></span>
                                    <input type="text" class="form-control" ng-model="note.title" placeholder="{{'Title'|translate}}"/>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <fieldset>
                                <div class="pull-left">
                                    <p>{{'Tags'|translate}}</p>
                                </div>
                                <div class="pull-right">
                                    <a href ng-click="setAll('tags',true)">{{'All'|translate}}</a>|
                                    <a href ng-click="setAll('tags',false)">{{'None'|translate}}</a>
                                </div>
                                <ui-select multiple ng-model="note.tags"  theme="select2" style="width:100%">
                                    <ui-select-match placeholder="{{'Tags'|translate}}">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="tag.name as tag in tags | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="tag.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <fieldset>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-adn"></i></span>
                                    <input type="text" class="form-control" ng-model="note.url" placeholder="{{'URL'|translate}}"/>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <fieldset>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-adn"></i></span>
                                    <textarea class="form-control" ng-model="note.content" placeholder="{{'Content'|translate}}"
                                    rows="15">
                                    </textarea>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" ng-click="save()"><i class="fa fa-floppy-o"></i> {{'Save'|translate}}</button>
    <button class="btn btn-warning btn-sm" ng-click="cancel()"><i class="fa fa-undo"></i> {{'Cancel'|translate}}</button>
</div>