<div class="modal-header">
    <h3 class="modal-title"><i class="fa fa-trash fa-fw"></i> {{'Delete'|translate}} {{note.title}}</h3>
</div>
<div class="modal-body">
    {{"Are you sure you wan\'t to delete this item ?"|translate}}
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" ng-click="save()"><i class="fa fa-check"></i> {{'Confirm'|translate}}</button>
    <button class="btn btn-warning btn-sm" ng-click="cancel()"><i class="fa fa-times"></i> {{'Cancel'|translate}}</button>
</div>