<div class="modal-header">
    <div class="row vertical-align">
        <div class="col-lg-6 col-md-6 col-xs-6">
            <h3 class="modal-title"><i class="fa fa-plus fa-fw"></i> {{'Add note'|translate}}</h3>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6">
            <div class="input-group pull-right">
                <div toggle-switch html="true" class="isSwitch switch-primary"
                     knob-label="{{'Active'|translate}}" on-label="{{'Yes'|translate}}" off-label="{{'No'|translate}}"
                     model = "note.active">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-body">
	<fieldset>
		<div class="panel panel-default">
			<div class="panel-heading">{{'Note'|translate}}</div>
			<div class="panel-body normal">
				<div class="form-group">
					<div class="row">
							<div class="col-md-6 col-xs-6">
								<fieldset>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-adn"></i></span>
                                        <input type="text" class="form-control" ng-model="note.firstName" placeholder="{{'First name'|translate}}"/>
                                    </div>
                                    <p class="error" ng-if="required.firstName">{{'This field is required.'|translate}}</p>
                                </fieldset>
							</div>
							<div class="col-md-6 col-xs-6">
								<fieldset>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-adn"></i></span>
                                        <input type="text" class="form-control" ng-model="note.lastName" placeholder="{{'Family name'|translate}}"/>
                                    </div>
                                    <p class="error" ng-if="required.lastName">{{'This field is required.'|translate}}</p>
								</fieldset>
							</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
							<div class="col-md-6 col-xs-6">
								<fieldset>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-at"></i></span>
									<input type="text" class="form-control" ng-model="note.email" placeholder="{{'Email'|translate}}"/>
								</div>
                                <p class="error" ng-if="required.email">{{'Invalid email address.'|translate}}</p>
                                <p class="error" ng-if="duplicate.email">{{'Email address already exists.'|translate}}</p>
								</fieldset>
							</div>
							<div class="col-md-6 col-xs-6">
								<fieldset>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-key"></i></span>
									<input type="password" class="form-control" ng-model="note.password" placeholder="{{'Password'|translate}}"/>
								</div>
                                <p class="error" ng-if="required.password">{{'This field is required.'|translate}}</p>
								</fieldset>
							</div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
                        <div class="col-md-6 col-xs-6">
                            <fieldset>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                    <input type="text" class="form-control" ng-model="note.phone" placeholder="{{'Phone'|translate}}"/>
                                </div>
                                <p class="error" ng-if="required.phone">{{'This field is required.'|translate}}</p>
                            </fieldset>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <fieldset>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                    <!--<input type="text" class="form-control" ng-model="note.role" placeholder="{{'Role'|translate}}"/>-->
                                    <ui-select ng-model="note.role" theme="bootstrap">
                                        <ui-select-match placeholder="Choisissez un role">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="role in roles">
                                            <div ng-bind-html="role.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <p class="error" ng-if="required.role">{{'This field is required.'|translate}}</p>
                            </fieldset>
                        </div>
					</div>

				</div>
			</div>
		</div>
	</fieldset>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" ng-click="save()"><i class="fa fa-floppy-o"></i> {{'Save'|translate}}</button>
    <button class="btn btn-warning btn-sm" ng-click="cancel()"><i class="fa fa-undo"></i> {{'Cancel'|translate}}</button>
</div>