@font-face {
    font-family: 'Museo-300';
    src: url('29AAAF_0_0.eot');
    src: url('29AAAF_0_0.eot?#iefix') format('embedded-opentype'),
    url('29AAAF_0_0.woff') format('woff'),url('29AAAF_0_0.ttf') format('truetype'),
    url('29AAAF_0_0.svg#wf') format('svg');
}


body{padding-top:50px; font-family: 'Museo-300', sans-serif; font-size: 12px; background-color:#F9F9F9; margin-bottom :180px;/* Margin bottom by footer height */}

* {margin: 0;}

html {position: relative; min-height: 100%;}

h1 {font-family:'inlovebold'; color :#0B577B}

.footer {position: absolute; bottom: 0; width: 100%; background-color:#333333; padding-top:10px; padding-bottom:30px; font-size:12px}
.footerdisclaimer{position: absolute; bottom: 0px; height: 20px; width: 100%; margin:0px auto; background-color:#474747; color: #fff;text-align:center;}

.hp {
background-attachment: fixed;
background-position: -170px -30px, right -200px top -190px;
background-repeat: no-repeat;
}

.navbar-default {background-color:#0B577B;background-image:none;}
.navbar-default .navbar-brand{color: #fff;}
.navbar-default .navbar-nav>li>a{color:#fff;}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {color: rgba(242,185,43,1); background-color: transparent;}
.subnav-fixed-top {background-color:#777;background-image:none;border-radius: 0;padding:5px 0 5px 0; margin:0 0 10px 0;}
span.navlabel {display: inline-block; font-size:12px;font-weight:bold; color:#fff; padding-right: 10px;}
ul.nav.navbar-nav.pull-right {margin-top:10px;}
.navbar-default .navbar-toggle .icon-bar{background-color:#ffffff;}

.italic {font-style: italic;}
.underline {text-decoration: underline;}
.bold {font-weight: bold;}

.topPadding {padding: 10px 0 0 0;}
.rightPadding {padding: 0 10px 0 0;}
.bottomPadding {padding: 0 0 10px 0;}
.leftPadding {padding: 0 0 0 10px;}
.no-padding {padding-left:0px;padding-right:0px;}
.padding15 {padding: 15px 15px 15px 15px;}
.padding5 {padding: 5px;}

.table > tbody > tr > td {
     vertical-align: middle;
}

.panelEvent {
    border:none;
}
.panelEvent > .panel-heading {
    background-color: #1D3C4E;
    color:white;
    font-size:13px;
    font-weight: bold;
}
.panelEvent > .panel-heading .pointer i{
    font-size: 1.5em;
}
.panelEvent > .panel-body {
    padding:0px;
}
.panelEvent .table {
    border:none;
}

.panelEvent .table > thead{
    background:#E9E9E9;
    color:#858585;
    font-style: italic;
    font-size:12px;
}
.panelEvent .table tr td:first-child{
    font-size:11px;
    font-weight:bold;
    font-family: 'Museo-300', sans-serif;
}

.panelFilters > .panel-body {
    padding: 6px;
}
.panelFilters > .panel-heading {
    padding-top: 5px;
    padding-bottom: 5px;
}

.description{
    font-size:11px;color:#858585;
}



.white {color:#fff;}
.footerblue {color:#50BCDD;}

.page-header {margin-top:20px;}

.home {background-color: #E14417}

.tabs-left > .nav-tabs {
    border-bottom: 0;
}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    min-width: 155px;
    margin-right: 0;
    margin-bottom: 3px;
}
.tabs-left > .nav-tabs {
    float: left;
    /*margin-right: 19px;*/
    border-right: 1px solid #ddd;
}
.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}
.tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
}




.darkblue {background-color:#0B577B; color:#fff; text-transform:uppercase;}
.darkblue:hover {color:rgba(93,175,211,1);}
.blueblue {background-color:#50BCDD; color:#fff; text-transform:capitalize;}
.panel-default-login>.panel-heading{color:#50BCDD; font-size:20px; text-align:center; font-weight:bold;}
.transparent{background:transparent; border:none;}
.panel-default-login{border: 2px solid #50BCDD; border-radius:4px; margin-top:10px; padding:0 10px 10px 10px;}

.error {color : red;}
.pointer {cursor: pointer;}

.btn-timeline {background-color:#A30052; color:#fff; font-size:14px;}
.btn-join {background-color:#1C958E; color:#fff; font-size:14px;}
.btn-schedule {background-color:#A6C120; color:#fff; font-size:14px;}
.btn-register {background-color:#428bca; color:#fff; font-size:14px;}

.margin-top-0 { margin-top: 0;}
.margin-top-10 { margin-top: 10px;}
.margin-bottom-10 { margin-bottom: 10px;}
.margin-right-10 { margin-right: 10px;}
.margin-left-10 { margin-left: 10px;}



.caption ul {list-style-type: none; margin: 5px;}

.color-white {color:white;}
.color-red {color:#D9534F;}
.color-grey {color:#777;}
.color-blue-dark {color:#314E67;}
.color-orange {color:#EB961D;}
.vertical-align {
    display: flex;
    align-items: center;
}

.btn-arrow-right,
.btn-arrow-left {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
.btn-arrow-right:after,
.btn-arrow-left:before { /* make two squares (before and after), looking similar to the button */
    content:"";
    position: absolute;
    top: 5px; /* move it down because of rounded corners */
    width: 23px; /* same as height */
    height: 23px; /* button_outer_height / sqrt(2) */
    background: inherit; /* use parent background */
    border: inherit; /* use parent border */
    border-left-color: transparent; /* hide left border */
    border-bottom-color: transparent; /* hide bottom border */
    border-radius: 0px 0px 0px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
}

.btn-arrow-right:after {
    transform: rotate(45deg); /* rotate right arrow squares 45 deg to point right */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.btn-arrow-left:before{
    transform: rotate(225deg); /* rotate left arrow squares 225 deg to point left */
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}
.btn-arrow-right:before,
.btn-arrow-left:before { /* align the "before" square to the left */
    left: -10px;
}
.btn-arrow-right:after,
.btn-arrow-left:after { /* align the "after" square to the right */
    right: -10px;
}
.btn-arrow-right:after,
.btn-arrow-left:before { /* bring arrow pointers to front */
    z-index: 2;
}

.blue{color:#0B577B}
.logo {margin-left: -15px;}
/* BO : Diseases List Style BEGINS */
.diseaseList th:last-child{  width: 15%;  }
.disease-choices { margin-bottom: 1em;  }
/* BO : Diseases List Style ENDS */
.color-green{ color : green;  }
.rightelemnt{width: 96px; margin-left: 192px;margin-top: -24px;}
.entityName{ border-radius: 4px; background:rgba(204,204,210,1)}
.role-header{ border-radius: 4px; background:#0B577B }
.bloc-6{min-height: 256px; height: auto}
.form-download{margin-top: -49px; margin-left: 329px;}
.tableProduct {padding-left: 2%; padding-right: 2%;}
.tableSites {padding-left: 3.5%; padding-right: 3%;}
.disabled{ pointer-events: none !important;  opacity: 0.5 !important;  background: #CCC !important;  }

.event-header{ border-radius: 4px; background:#0B577B !important; color: white !important;font-size: 16px !important;width: 100%;margin: 0%;}


.modal-body .popover-content {  width: 250px;  }
.tab-right{ min-height: 210px }


.showEventName {
    font-size: 2em;
    color:#314E67
}

.modal.schedule .modal-dialog {
    width: 85%;
}

.font-size-1-3{
    font-size: 1.3em;
}





