<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <title>Title</title>
    <!-- CSS -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap-theme.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="libs/jquery-ui/themes/smoothness/jquery-ui.min.css" media="all">
    <link href="libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="libs/angular-toggle-switch/angular-toggle-switch-bootstrap-3.css" media="all">
    <link rel="stylesheet" href="libs/angular-timeline/dist/angular-timeline.css"/>
    <link rel="stylesheet" href="libs/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>
    <link href="libs/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="libs/ui-select/dist/select.css" />
    <link rel="stylesheet" href="libs/ui-select/dist/select2.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all">

</head>

<body ng-app="MainApp">
<div  ng-controller="NavCtrl" ng-cloak>
    <!-- HEADER -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- Brand and toggle get grouped for better mobile display -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand vertical-align" ui-sref="home"><img src="img/logo.png" class="logo" height="50" width="155"/></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-repeat="mainMenu in mainMenus">
                        <a ui-sref="{{mainMenu.state}}" ui-sref-opts="{ reload: true }"><i class="{{mainMenu.icon}}"></i> {{mainMenu.title}}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-language fa-lg"></i> Lang ({{currentLanguage}})<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="lang in global.languages"><a href ng-click="changeLanguage(lang.code)" ><i class="fa fa-globe"></i> {{lang.code}}</a></li>
                            </ul>
                    </li>
                    <li class="dropdown" ng-if="user.email">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user fa-fw"></i> {{user.lastName|uppercase}} {{user.firstName|uppercase}}<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href ng-click="editUser(user._id)"><i class="fa fa-user fa-fw"></i> {{'My account'|translate}}</a></li>
                            <li class="divider"></li>
                            <li><a href ng-click="logout()" ><i class="fa fa-ban fa-fw"></i> {{'Logout'|translate}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->

    </nav>

</div>
<!-- ANGULAR DYNAMIC CONTENT -->

<div ui-view></div>

<div class="footer">
    <ng-include src="'components/partials/footer/footer.html'"></ng-include>
</div>

<script src="libs/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="libs/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="libs/angular/angular.min.js" type="text/javascript"></script>
<script src="libs/angular-route/angular-route.min.js" type="text/javascript"></script>
<script src="libs/angular-resource/angular-resource.min.js" type="text/javascript"></script>
<script src="libs/angular-cookies/angular-cookies.min.js" type="text/javascript"></script>
<script src="libs/angular-sanitize/angular-sanitize.min.js" type="text/javascript"></script>
<script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="libs/underscore/underscore-min.js"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="libs/angular-bootstrap/ui-bootstrap.min.js" type="text/javascript"></script>
<script src="libs/angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
<script src="libs/angular-gettext/dist/angular-gettext.js" type="text/javascript"></script>
<script src="libs/angular-toggle-switch/angular-toggle-switch.min.js" type="text/javascript"></script>
<script src="libs/angular-file-upload/angular-file-upload.js" type="text/javascript"></script>
<script src="libs/ui-select/dist/select.js"></script>
<script src="libs/angular-bootstrap-checkbox/angular-bootstrap-checkbox.js" type="text/javascript"></script>
<script src="libs/angular-csv-import/dist/angular-csv-import.js" type="text/javascript"></script>
<script src="libs/angular-timeline/dist/angular-timeline.js"></script>
<script type="text/javascript" src="libs/moment/moment.js"></script>
<script src="libs/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.js"></script>
<script type="text/javascript" src="libs/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
<script src="js/common.js" type="text/javascript"></script>
<script src="js/globalConfig.js" type="text/javascript"></script>
<script src="components/app.js" type="text/javascript"></script>
<script src="components/shared/filters/filters.js" type="text/javascript"></script>
<script src="components/shared/directives/popoverHtmlUnsafePopup.directive.js" type="text/javascript"></script>
<script src="components/partials/login/auth.service.js" type="text/javascript"></script>
<script src="components/shared/services/sessionStorage.service.js" type="text/javascript"></script>
<script src="components/shared/services/setting.service.js" type="text/javascript"></script>
<script src="components/backoffice/config/services/config.service.js" type="text/javascript"></script>
<script src="components/shared/services/Utils.service.js" type="text/javascript"></script>
<script src="components/partials/navbar/nav.controller.js" type="text/javascript"></script>
<script src="components/partials/footer/footer.controller.js" type="text/javascript"></script>
<script src="components/partials/login/login.controller.js" type="text/javascript"></script>
<script src="components/backoffice/admin/controllers/admin.controller.js" type="text/javascript"></script>
<script src="components/backoffice/config/controllers/config.controller.js" type="text/javascript"></script>
<!-- user -->
<script src="components/backoffice/user/controllers/user.controller.js" type="text/javascript"></script>
<script src="components/backoffice/user/services/user.service.js" type="text/javascript"></script>
<script src="components/backoffice/user/models/user.model.js" type="text/javascript"></script>
<!-- note -->
<script src="components/backoffice/note/controllers/note.controller.js" type="text/javascript"></script>
<script src="components/backoffice/note/services/note.service.js" type="text/javascript"></script>
<script src="components/backoffice/note/models/note.model.js" type="text/javascript"></script>

</body>
</html>