<div class="container-fluid hp">
	<div class="row">
		<div class="col-md-10 col-md-offset-1" style="padding:15px 50px 15px 50px;">
			<div class="row">
				<div class="col-md-6 col-md-offset-1">
					<div class="page-header">
						<h1>{{'Welcome to the app'|translate}}<br />
                            <small>{{'Your sub title here'|translate}}</small></h1>
					</div>
				</div>
				<div class="col-md-4 col-md-offset-1">
					<ng-include src="'components/partials/login/login.html'"></ng-include>
					{{error}}
				</div>
			</div>
			<div  class="row text-center">
				<div class="col-lg-4 col-md-4">
					<div>
                        <img src="img/create.png" width="65" height="65">
                        <div class="caption content text-left">
								<h3 class="text-center">Title</h3>
									<ul>
										<li>- Lorem ipsum dolor sit amet.</li>
										<li>- Lorem ipsum dolor sit amet.</li>
										<li>- Lorem ipsum dolor sit amet.</li>
										<li>- Lorem ipsum dolor sit amet.</li>
										<li>- Lorem ipsum dolor sit amet.</li>
									</ul>
							</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div>
                            <img src="img/create.png" width="65" height="60">
							<div class="caption content text-left">
								<h3 class="text-center">Title</h3>
									<ul>
                                        <li>- Lorem ipsum dolor sit amet.</li>
                                        <li>- Lorem ipsum dolor sit amet.</li>
                                        <li>- Lorem ipsum dolor sit amet.</li>
                                        <li>- Lorem ipsum dolor sit amet.</li>
                                        <li>- Lorem ipsum dolor sit amet.</li>
									</ul>
							</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div>
                            <img src="img/create.png" width="65" height="65">
                            <div class="caption content text-left">
								<h3 class="text-center">Title</h3>
									<ul>
                                        <li>- Lorem ipsum dolor sit amet.</li>
                                        <li>- Lorem ipsum dolor sit amet.</li>
                                        <li>- Lorem ipsum dolor sit amet.</li>
                                        <li>- Lorem ipsum dolor sit amet.</li>
                                        <li>- Lorem ipsum dolor sit amet.</li>
									</ul>								
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

