<div class="modal-header">
    <div class="row vertical-align">
        <div class="col-lg-10 col-md-6 col-xs-10">
            <h3 class="modal-title"><i class="fa fa-info-circle fa-fw"></i> {{'User details'}} : {{::user.email}}</h3>
        </div>
        <div class="col-lg-2 col-md-6 col-xs-2">
            <div class="input-group pull-right">
                <span ng-if="user.active" class="label label-success">{{'Active'|translate}}</span>
                <span ng-if="!user.active" class="label label-danger">{{'Inactive'|translate}}</span>
            </div>
        </div>
    </div>
</div>
<div class="modal-body">
	<fieldset>
		<div class="panel panel-default">
			<div class="panel-heading">{{'General informations'|translate}}</div>
			<div class="panel-body normal">
                <p>
                    <i class="fa fa-user"></i> {{::user.firstName}} {{::user.lastName}}<br>
                    <i class="fa fa-at"></i> {{::user.email}}<br>
                    <i class="fa fa-phone"></i> {{::user.phone}}<br>
                </p>
			</div>
		</div>
	</fieldset>
</div>
<div class="modal-footer">
    <button class="btn btn-warning btn-sm" ng-click="cancel()"><i class="fa fa-undo"></i> {{'Close'|translate}}</button>
</div>