<div class="row">
	<div class="col-md-12 col-lg-12">
        <br/>
        <div class="col-md-6 col-lg-6">
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" ng-model="search.queryUser" placeholder="{{'Rechercher par nom, prénom, email'|translate}}"/>
            </div>
        </div>
        <div class="btn-group">
            <a class="btn btn-info btn-sm" ng-click="addUser()"><i class="fa fa-plus-circle"></i> {{'Ajouter utilisateur'|translate}}</a>
            <a class="btn btn-success btn-sm" ng-click="import()"><i class="fa fa-arrow-down"></i> {{'Importer des utilisateurs'|translate}}</a>
        </div>
        <br /><br />
        <table class="table table-striped table-hover userList">
            <thead>
            <tr>
                <th>
                    <a ng-click="search.sortBy='firstName'; search.orderAsc = !search.orderAsc">{{'Firstname'|translate}}
                        <span ng-show="search.sortBy == 'firstName'">
                            <span ng-show="search.orderAsc">^</span>
                            <span ng-show="!search.orderAsc">v</span>
                        </span>
                    </a>
                </th>
                <th>
                    <a ng-click="search.sortBy='lastName'; search.orderAsc = !search.orderAsc">{{'Lastname'|translate}}
                        <span ng-show="search.sortBy == 'lastName'">
                            <span ng-show="search.orderAsc">^</span>
                            <span ng-show="!search.orderAsc">v</span>
                        </span>
                    </a>
                </th>
                <th>
                    <a ng-click="search.sortBy='email'; search.orderAsc = !search.orderAsc">{{'Email'|translate}}
                        <span ng-show="search.sortBy == 'email'">
                            <span ng-show="search.orderAsc">^</span>
                            <span ng-show="!search.orderAsc">v</span>
                        </span>
                    </a>
                </th>
                <th>
                    <a ng-click="search.sortBy='phone'; search.orderAsc = !search.orderAsc">{{'Phone'|translate}}
                        <span ng-show="search.sortBy == 'phone'">
                            <span ng-show="search.orderAsc">^</span>
                            <span ng-show="!search.orderAsc">v</span>
                        </span>
                    </a>
                </th>
                <th class="text-center">{{'Status'|translate}}</th>
                <th>{{'Actions'|translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="form-group input-group">
                        <input type="text" class="form-control" ng-model="search.pattern.firstName" placeholder="{{'Firstname'|translate}}"/>
                    </div>
                </td>
                <td>
                    <div class="form-group input-group">
                        <input type="text" class="form-control" ng-model="search.pattern.lastName" placeholder="{{'LastName'|translate}}"/>
                    </div>
                </td>
                <td>
                    <div class="form-group input-group">
                        <input type="text" class="form-control" ng-model="search.pattern.email" placeholder="{{'Email'|translate}}"/>
                    </div>
                </td>
                <td>
                    <div class="form-group input-group">
                        <input type="text" class="form-control" ng-model="search.pattern.phone" placeholder="{{'Phone'|translate}}"/>
                    </div>
                </td>
                <td class="text-center">
                    <select class="form-control" ng-model="search.pattern.active">
                        <option value="" selected="selected"></option>
                        <option value="true" selected="selected">{{'Active'|translate}}</option>
                        <option value="false" selected="selected">{{'Inactive'|translate}}</option>
                    </select>
                </td>
                <td class="btn-group btn-group-xs">
                </td>
            </tr>
            <tr ng-repeat="user in users track by user._id">
                <td class="text-center">{{user.firstName}}</td>
                <td class="text-center">{{user.lastName}}</td>
                <td class="text-center">{{user.email}}</td>
                <td class="text-center">{{user.phone}}</td>
                <td class="text-center">
                    <span class="label label-success" ng-if="user.active">{{'Active'|translate}}</span>
                    <span class="label label-default" ng-if="!user.active">{{'Inactive'|translate}}</span>
                </td>
                <td class="btn-group btn-group-xs">
                    <a class="btn btn-primary" ng-click="showUser(user._id)"><i class="fa fa-eye"></i></a>
                    <a class="btn btn-warning" ng-click="editUser(user._id)"><i class="fa fa-pencil-square-o"></i></a>
                    <a class="btn btn-danger" ng-click="deleteUser(user._id)"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="text-center">
            <pagination total-items="pagination.totalItems"
                        items-per-page="pagination.itemsPerPage"
                        ng-model="pagination.currentPage"
                        max-size="pagination.maxSize"
                        boundary-links="true" class="pagination-sm" rotate="false">
            </pagination>
        </div>
	</div>
</div>