<div class="container-fluid" ng-controller="FooterCtrl">
    <div class="col-xs-4 col-md-4 col-lg-4">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="caption footerblue">
                <h5><strong>Support</strong></h5>
                <div class="caption white">
                    Need help?
                    Please contact us
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footerdisclaimer">
    <div class="col-xs-12 col-md-12 col-lg-12">
        &copy; 2016 FYC - All rights reserved
    </div>
</div>